.left{
	background-color: aquamarine;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}

.right{
	background-color: aliceblue;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

.rocket{
	position: absolute;
	left: 50%;
	bottom: -13px;
	width: 143px;
	height: 272px;
	margin-left: -71.5px;
	background: url("../img/rocket-state1.png") no-repeat 0 0;
	transition: bottom 1000ms;
}

/* rocket bg image*/
body.body-state2 .rocket{
	background-image: url("../img/rocket-state2.gif")
}

body.body-state3 .rocket,
body.body-state4 .rocket{
	background-image: url("../img/rocket-state3.gif")
}

body.body-state5 .rocket{
	background-image: url("../img/boom.png")
	width: 209px;
	height: 200px;
	margin-left: -104.5px;
}

body.body-state1 .rocket{
	transition: none;
}
body.body-state3 .rocket,
body.body-state4 .rocket{
	bottom: 1000px;
}

.state1,
.state2,
.state3,
.state4,
.state5{
	display: none;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}

.ground{
	background: url(../img/ground.png) center 0;
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	height: 20px;
}

a{

}

a.button{

}